<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
	<!-- Perso CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Candal|Dosis|Open+Sans">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="../Assets/Css/classement.css" />
	<title>Sond</title>
</head>
<body>
	<!--HEADER-->
	<header>
		<nav>
			<a href="../index.html"><h1><img src="../Img/S.png" alt="Logo de MindGeek" /></h1></a>
			<a href="theme.html">
				SONDAGES
			</a>
			<a href="classement.html">
				CLASSEMENT
			</a>
			<a href="#">
				PROFIL
			</a>
			<a href="#">
				LOG OUT
			</a>
		</nav>
	</header>
	<main>
		<div class="container">
			<table class="score">
				<thead>
					<tr>
						<th>Position</th>
						<th>Pseudo</th>
						<th>Nombre de Sondage</th>
						<th>Winrate</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Pseudo 1</td>
						<td>4</td>
						<td>75%</td>
						<td>3</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Pseudo 2</td>
						<td>2</td>
						<td>100%</td>
						<td>2</td>
					</tr>
					
				</tbody>
            </table>
		</div>
	</main>
	<footer>
		<nav>
			<p>Sond © développé et designé par Benjamin Burstein - Projet Sondage IIM A2</p>
		</nav>
	</footer>
</body>
</html>
