<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
	<!-- Perso CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Candal|Dosis|Open+Sans">
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="/Assets/Css/question.css" />
	<title>Module 11 - MindGeek</title>
</head>
<body>
	<!--HEADER-->
	<header>
		<nav>
			<a href="/Index.html"><h1><img src="/Img/S.png" alt="Logo de MindGeek" /></h1></a>
			<a href="/views/Theme.html">
				SONDAGES
			</a>
			<a href="#">
				CLASSEMENT
			</a>
			<a href="#">
				PROFIL
			</a>
			<a href="#">
				LOG OUT
			</a>
		</nav>
	</header>
	<main>
		<div  class="container">
			<section>
			<h2>Vas t-il y avoir une suite à ce manga?</h2>
			<div id="question">	
					<img  src="/Img/GP.png">
				<div id="rep">
					<div class="check">
						<input id="checkbox" class="input"  type="checkbox" >
						Réponse 1
					</div>
					<div class="check">
						<input id="checkbox" class="input"  type="checkbox" >
						Réponse 2
					</div>
					<div class="check">
						<input id="checkbox" class="input"  type="checkbox" >
						Réponse 3
					</div>
					<div class="check">
						<input id="checkbox" class="input"  type="checkbox" >
						Réponse 4
					</div>
					<div class="check">
						<input id="checkbox" class="input"  type="checkbox" >
						Réponse 5
					</div>
					
				</div>	
			</div>
			<button class="button">Valider ma réponse</button>
			</section>
			
		</div>
	</main>
	<footer>
		<nav>
			<p>Sond © développé et designé par Benjamin Burstein - Projet Sondage IIM A2</p>
		</nav>
	</footer>
</body>
</html>
