<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
	<!-- Perso CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Candal|Dosis|Open+Sans">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="/Assets/Css/theme.css" />
	<title>Module 11 - MindGeek</title>
</head>
<body>
	<!--HEADER-->
	<header>
		<nav>
			<a href="/Index.html"><h1><img src="/Img/S.png" alt="Logo de MindGeek" /></h1></a>
			<a href="/views/sondage.html">
				SONDAGES
			</a>
			<a href="#">
				CLASSEMENT
			</a>
			<a href="#">
				PROFIL
			</a>
			<a href="#">
				LOG OUT
			</a>
		</nav>
	</header>
	<main>
		<section id="anim">
			<h2>Anime</h2>
		</section>
		<section id="sport">
			<h2>Sport</h2>
		</section>
		<section id="jeux">
			<h2>Jeux Vidéo</h2>
		</section>
	</main>
	<footer>
		<nav>
			<p>Sond © développé et designé par Benjamin Burtsein - Projet Sondage IIM A2</p>
		</nav>
	</footer>
</body>
</html>
