/*GLOBAL */
* {
	-webkit-box-sizing: border-box;
	    box-sizing: border-box;
	outline: none;
	text-decoration: none;
}



body {
	font-family: "Open Sans", Arial;
	margin: 0;
	line-height: 1.8;
	color: #666;
}

h1, h2, h3 {
	font-weight: normal;
}

.container {
	width: 100%;
	
	padding: 25px;
	background-color: white;

}



/* HEADER */
header nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
    background-color: #fa9702;
}

header nav a {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	color: #fcfcfc;
	font-family: "Candal";
	font-size: 1.4em;
}
header nav a:hover{
	color: #008e97;
}
/*main*/


#Mainlogo{
	width: 89%;
	height: auto;
}
main section{
	max-width: 34%;
	margin: 0 auto;
}
main{
	display: flex;
	justify-content: center;
	text-align: center;

}
main h2{
	font-family: "Candal";
	color: #008e97;
	
}
#question{
	display: flex; 
	flex-flow: column wrap; 
	max-width: 80%; 
	margin: auto;
}
#question img{
	max-width: 30%!important; 
	display: flex; 
	flex-flow: column wrap; 
	margin: auto;
}
.check{
	display: flex; 
	max-width: 100%; 
	border: solid black;
	border-radius: 80px;
	max-height: 50%;
	margin-top: 15px;
	
}
#checkbox{
	visibility: hidden;
}


.button{
	border-radius: 10px;
	margin-top: 24px;
	width: 100%;
	background-color: #fbfbfb;
	font-family: "Open sans";
	font-weight: 100;
}
.button:hover{
	color: #fa9702;
	font-family: "Candal";
	
}

#rep{
	padding-top: 20px;

}
label{
	margin: auto;
	font-family: "Candal";
	font-size: 0.95em;
	font-weight: bold;
	color: #fa9702;
}

.answer{	
	margin-top: 10px;
	display: flex;
	background-color: #faf6f6;
	border: black solid 1px;
}

#rep,#question,#questionButton{
	display: none;
}
#formName{
	display: flex;
	flex-flow: column wrap;
}
#nameQ{
	font-family: "Candal";
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}
/* footer*/
footer nav p {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	color: #fcfcfc;
	font-family: "Candal";
	font-size: .8em;
}


footer nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    justify-content: space-around;
    background-color: #055cbe;
  
}

footer{
	position: fixed;
	width:100%;
	bottom: 0 ;
	height:50px;
	text-align: center;
	}



/* RESPONSIVE  pc*/
@media screen and (min-width: 1024px) {
	#rep{
		max-height: 145.8px;
		max-width: 100%;
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		align-self: center;
	}
	#rep,#question{
		display: none;
	}
	.check{
		margin-right: 20px;
	}
}
/* RESPONSIVE  téléphone/tablette*/
@media screen and (max-width: 1024px) {
	header nav a {
		padding: 15px;
	}
	#tagline {
		padding: 50px 25px;
	}
	header nav, .flex, footer nav {
		-ms-flex-direction: column;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		        flex-direction: column;
	}
	.container{
		margin-bottom: 50px;
	}
	.answer{
		height: 70px;
		display: flex;
		align-items: center;
	}
	#rep,#question{
		display: none;
	}
	
}
