/*GLOBAL */
* {
	-webkit-box-sizing: border-box;
	    box-sizing: border-box;
	outline: none;
	text-decoration: none;
}

article{display: block;}

body {
	font-family: "Open Sans", Arial;
	margin: 0;
	line-height: 1.8;
	color: #666;
}

h1, h2, h3 {
	font-weight: normal;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 25px;
	background-color: white;

}


/* HEADER */
header nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
    background-color: #fa9702;
}

header nav a {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	color: #fcfcfc;
	font-family: "Candal";
	font-size: 1.4em;
}
/*main*/
#animation img{
	-webkit-transition:-webkit-transform .9s; 
  -moz-transition:-moz-transform .9s;       
  -o-transition:-o-transform .9s;           
  -ms-transition:-ms-transform .9s;        
  transition:transform .9s;
}

#animation img:hover{
	-webkit-transform:rotateZ(360deg), rotateY(360deg); 
	-moz-transform:rotateZ(360deg), rotateY(360deg); 
	-o-transform:rotateZ(360deg), rotateY(360deg);  
	-ms-transform:rotateZ(360deg), rotateY(360deg);  
	transform:  rotateZ(114deg);
	
}
#sondage > * {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

#sondage h2{
	flex-basis: 100%;
}

main{
	display: flex;
	justify-content: center;
	text-align: center;
}
main h1,h2,h3,p{
	font-family: "Candal";
    color: #fa9702;
}
main .titre{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: row;

}
#sondage{
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
#SondImg{
    height: 30%;
    width: auto;
}
.flex {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: row;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.anime {
	padding: 15px;
	border: solid black 1px;
}

.anime h3 {
	font-family: "Candal", Arial;
	text-align: center;
	font-size: 1.2em;
	color: #fa9702;
	padding: 10px 0 0;
}

/* footer*/
footer nav p {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	color: #fcfcfc;
	font-family: "Candal";
	font-size: .8em;
}


footer nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    justify-content: space-around;
    background-color: #055cbe;
  
}




/* RESPONSIVE */
@media screen and (max-width: 960px) {
	header nav a {
		padding: 15px;
	}
	#tagline {
		padding: 50px 25px;
	}
	header nav, .flex, footer nav {
		-ms-flex-direction: column;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		        flex-direction: column;
	}
	.mutualise article,
	.dedie article,
	.cloud article {
		-webkit-align-self: stretch;
		    -ms-flex-item-align: stretch;
		            -ms-grid-row-align: stretch;
		        align-self: stretch;
	}
}
