/*GLOBAL */
* {
	-webkit-box-sizing: border-box;
	    box-sizing: border-box;
	outline: none;
	text-decoration: none;
}



body {
	font-family: "Open Sans", Arial;
	margin: 0;
	line-height: 1.8;
	color: #666;
}

h1, h2, h3 {
	font-weight: normal;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 25px;
	background-color: white;

}



/* HEADER */

header nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    justify-content: space-around;
    background-color: #fa9702;
  
}

header nav a {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	color: #fcfcfc;
	font-family: "Candal";
	font-size: 1.4em;
}
header nav a:hover{
	color: #008e97;
}
/*Main*/
/**/
#anim{
	background-image: url("../../Img/anim.jpg");
	background-position-y: top ;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding: 51px 50px;
	text-align: center;
    font-family: "Candal";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	max-width: 90%;
}
#sport{
	background-image: url("../../Img/sport.jpg");
    background-position: center;
	color: white;
	padding: 51px 50px;
	text-align: center;
    font-family: "Candal";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	max-width: 90%;

}
#jeux{
    background-image: url("../../Img/jeux.jpg");
	background-size: cover;
    background-position: center;
	color: white;
	padding: 50px 50px;
	text-align: center;
    font-family: "Candal";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	max-width: 90%;
	margin-left: auto;
}

main a{
	text-decoration: none;
	color: #fcfcfc;
}
main a:hover{
	color: #fa9702;
}
/*footer*/
footer nav p {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	color: #fcfcfc;
	font-family: "Candal";
	font-size: 0.8em;
}


footer nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    justify-content: space-around;
    background-color: #055cbe;
  
}





/* RESPONSIVE */
@media screen and (max-width: 1024px) {
	header nav a {
		padding: 15px;
	}
	#tagline {
		padding: 50px 25px;
	}
	header nav, .flex, footer nav {
		-ms-flex-direction: column;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		        flex-direction: column;
	}
	.wrapS{
		display: flex;
		justify-content: center;
	}
}
